<div class="container">

    <header>
        <h1 class="pageTitle">SpaceX Launch Programs</h1>
    </header>
    
    <div class="contentContainer">    
        <div class="filters card">
            <h5>Filters</h5>
            <div class="filtersBody">
                <h6>Launch Year</h6>
                <hr>
                <div class="launchYears filter" (click)="setYearFilter($event)">
                   <button type="button"  *ngFor="let yearItem of launchYears" name="{{yearItem}}" [class.selected]="filters.launch_year==yearItem"> {{yearItem}}</button>
                </div>
    
                <h6>Successful Launch</h6>
                <hr>
                <div class="launchSuccess filter">
                  <button type="button" (click)="setSuccessLaunchFilter('true')" [class.selected]="filters.launch_success==='true'">True</button>
                  <button type="button" (click)="setSuccessLaunchFilter('false')" [class.selected]="filters.launch_success==='false'">False</button>
                </div>
    
                <h6>Successful Landing</h6>
                <hr>
                <div class="landSuccess filter">
                    <button type="button" (click)="setSuccessLandingFilter('true')" [class.selected]="filters.land_success==='true'">True</button>
                    <button type="button" (click)="setSuccessLandingFilter('false')" [class.selected]="filters.land_success==='false'">False</button>
            
                </div>
    
    
            </div>
            
        </div>
        <div class="launchItemsBody">
            <div class="launchitem card" *ngFor="let item of launchItems;let i=index;">
                    <picture>
                        <source media="(min-width:700px)" [srcset]="item.images.large">
                        <img class="image lazyLoad" [attr.data-src]="item.images.large" [src]="i<10?item.images.small:''" [alt]="item.mission_name+' Image'">
                    </picture>
    
                    <p class="cardTitle">{{item.mission_name}} #{{item.flight_number}}</p>
                    <div class="cardContent">
                        <p><span class="key">Mission Ids:</span><span class="value"><span class='ids' *ngFor="let id of item.mission_id;">{{id}}</span><span *ngIf="item.mission_id.length==0">Not Available</span></span></p>
                        <p><span class="key">Launch Year:</span><span class="value">{{item.launch_year}}</span></p>
                        <p><span class="key">Successful Launch:</span><span class="value">{{item.launch_success}}</span></p>
                        <p><span class="key">Successful Landing:</span><span class="value">{{item.land_success}}</span></p>
                    </div>
    
            </div>
            <p class="errorMessage" *ngIf="!appSettings.isLoaderDisplaying && (launchItems==null || launchItems.length==0)">No Record Found</p>
    
            
          
    
        </div>
    </div>
    
    <footer><span class="heading">Developed By:</span> Pankaj Sati</footer>

</div>


